#project-banner {
	width: 100%;
	height: 25em;
	background-color: $backGrey;

	img {
		display: inline-block;
		width: 100%;
		height: 25em;
		object-fit: cover;
	}
}

#home {
	width: 40%;
	min-width: 300px;
	padding-top: 2em;
	display: inline-block;
}

#knowledge {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding-left: 5%;

	.knowledgeCat {
		display: inline-block;
		width: 12em;
		vertical-align: top;
	}
}

#intro-summary {
	padding-top: 2.5em;

	#quicklinks {
		float: right;
		margin-right: 6em;

		a {
			margin-left: 1em;
			vertical-align: top;
			width: 3em;
			height: 3em;

			&:hover {
				text-decoration: none;
			}
		}
	}
}