@media (min-width: 1100px) {
	#navigation a {
        width: 13em;
    }

    #portfolio {
        .projectItem{
            height: 20em;
    
            > a {
                height: 17em;
            }
    
            img {
                height: 17em;
                width: 25em;
            }
    
            h3 {
                margin-bottom: 1.5em;
            }
        }

        .singleprojlangs {
            margin-top: -16.2em;
        }
    }
}
