@media (max-width: 750px) {
	$navPos: absolute;

	%main-mob {
		width: 100%;
	}

	#mobilenav {
		display: inline-block;
		z-index: 1;
		position: $navPos;

		a {
			outline: none;
		}
	}

	nav {
		/* min-height: 50px; */
		display: block;
		position: $navPos;
		transform: translate(0%, -100%);
		transition: all 0.45s ease-in;

		#navImg {
			display: none;
		}

		a {
			/* display: none; */
			margin-top: 0;
			width: 100%;
			margin-left: -20%;
			padding-left: 50px;
			text-align: center;
		}
	}

	#menu-button {
		float: right;
		border: none;
		outline: none;
		outline-width: 0;
		background-color: $navBlack;
		color: white;
		font-size: 1.6em;
		font-weight: bold;
		margin-top: -10px;
		display: block;
		height: 2em;
		width: 30%;

		img {
			width: 1em;
			margin-left: 10%;
			filter: invert(100%);
		}

		&::-moz-focus-inner {
			border: 0;
		}
	}

	.extended {
		display: inline-block;
	}

	.extendnav {
		margin-bottom: 10px;
		margin-top: 51px;
		transform: translate(0%, 0%);
		transition: all 0.4s cubic-bezier(.1,.51,.97,.99);
	}

	.dropdown:hover .dropdown-content {display: none;}
	
	#c-content {
		@extend %main-mob;

		#twitter-content {
			min-width: 0;
			margin-right: 0;
			margin-left: 0;
			max-width: none;
		}
	}

	#contentContainer {
		padding-top: 3em;
	}

	#section {
	
		.sectDiv {
			width: 100%;
			margin-left: -20.5%;
			padding-left: 22.5%;
			padding-right: 40%;
			padding-top: 4em;
			padding-bottom: 4em;
		}
	
		.oddSect {
			background-color: $backGrey; 
		}
	
		.firstSect {
			padding-top: 0;
		}
	}

	#knowledge {
		width: 100%;
		padding-left: 10%;
	}

	#home {
		width: 80%;
		margin-left: 10%;
	}

	#intro-summary #quicklinks {
		margin-top: 1em;
		margin-right: 10%;
		margin-bottom: 1em;
	}

	#portfolio {

		#projectCat {
			margin-right: 0;
			padding-left: 0;

			h5 {
				margin-bottom: 1em;
			}

			ul {
				margin-left: 0;
				margin-right: 0;
				height: unset;
				width: 90%;

				li {
					
					a {
						height: unset;
						width: 90%;
						padding: 5%;
					}
					
					img {
						display: none;
					}
				}
			}
		}

		#project-lang {

			ul {
				width: 80%;
				padding: 5%;

				#listHead {
					margin-bottom: 1.5em;
					
					h3 {
						margin-bottom: 0;
					}
				}
	
				#listbutton {
					margin-top: 0;
				}
			}
		}

		.projectItem {
			height: unset;
			width: 90%;

			h3 {
				margin: 0% 5% 0 5%;
			}
			
			> a {
				padding-top: 5%;
				height: unset;

				&:hover {
					background-color: $backGrey;
				}
			}

			img {
				display: none;
			}

			p {
				margin: 0 5% 0 5%;
			}
		}

		.singleprojlangs {
			margin: 0 5% 5% 5%;
		}
	}
}