#plain {
	display: inline-block;
	text-align: left;
	width: 80%;
    margin-left: 10%;
    margin-top: 3em;

	& h4 {
		color: $headerRed;
	}

	& strong {
		font-size: 1.1em;
		font-weight: 600;
	}
}

#section {
	padding-top: 3em;
	text-align: left;

	.sectDiv {
		width: 60%;
		margin-left: -20.5%;
		padding-left: 42.5%;
		padding-right: 40%;
		padding-top: 4em;
		padding-bottom: 4em;
	}

	.oddSect {
		background-color: $backGrey; 
	}

	.firstSect {
		padding-top: 0;
	}
}

#pdfview {
	min-height: 80%;
    position: fixed;
    height: 100%;
	width: 100%;
	box-sizing: inherit;
	
	&:before {
		box-sizing: inherit;
	}

	&:after {
		box-sizing: inherit;
	}

	#pdf {
		box-sizing: inherit;
	
	&:before {
		box-sizing: inherit;
	}

	&:after {
		box-sizing: inherit;
	}
	}
}