#portfolio {

	h2 {
		padding-top: 3em;
		padding-left: 10%;
	}

	h3 {
		margin-bottom: 1.5em;
	}

	#projectCat {
		text-align: center;
		padding-top: 4em;
		padding-left: 5em;

		ul {
			display: inline-block;
			height: 21em;
			width: 16.5em;
			margin-right: 5em;
			background-color: $backGrey;
			padding: 0;
			border-radius: 0.2em;

			li {
				display: block;
				text-align: initial;

				a {
					color: initial;
					display: block;
					height: 19.5em;
					width: 15.5em;
					padding: 1em 0.5em 0.5em 0.5em;
					border-radius: 0.2em;
					transition: background-color 0.3s;

					&:hover {
						text-decoration: none;

						img {
							box-shadow: 0 6px 20px rgba(0,0,0,.75);
							transform: translate(0, -0.5em);
						}
					}
				}

				img {
					width: 13em;
					border-radius: 0.2em;
					box-shadow: 0 6px 20px rgba(0,0,0,.6);
					margin: 1em 0 1em 1.25em;
					height: 10em;
					display: block;
					background-color: #AFAFAF;
					transition: all 0.3s;
				}
			}
		}
	}

	#project-lang {
		text-align: center;

		#listHead{
			display: block;
			background-color: transparent;
		}

		ul {
			background-color: $backGrey;
			width: 76%;
			display: inline-block;
			text-align: initial;
			padding: 2%;
			border-radius: 0.2em;
		}

		#listbutton {
			display: block;
			margin-bottom: 1em;
			margin-top: -1em;
		}
	}

	.languageTag {
		display: inline-block;
		border-radius: 1em;
		height:1.4em;
		background-color: lightblue;
		margin-bottom: 0.5em;
		
		&::before {
			opacity: 50%;
		}
		
		a {
			color: initial;
			padding: 0em 0.3em 0.1em 0.3em;
			border: 0.1em solid transparent;
			border-radius: 1em;

			&:hover {
				text-decoration: none;
				border: 0.1em solid grey;
			}
		}
	}

	#project-all {
		text-align: center;
		margin-top: 2em;

		ul {
			padding: 0;
		}
 
		
	}

	.projectItem {
		background-color: $backGrey;
		width: 80%;
		border-radius: 0.2em;
		height: 18em;
		margin-bottom: 3em;
		text-align: initial;
		display: inline-block;

		h3 {
			margin-bottom: 3em;
		}

		> a {
			width: 100%;
			border-radius: 0.2em;
			height: 15em;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			display: block;
			color: initial;
			transition: background-color 0.3s;

			&:hover {
				text-decoration: none;
				background-color: $btnRed;

				li {
					background-color: $btnRed;
				}
			}
		}

		img {
			display: block;
			background-color: #AFAFAF;
			height: 15em;
			width: 20em;
			margin-right: 1em;
			margin-left: 1.5em;
			float: left;
			object-fit: cover;
		}
	}

	.singleprojlangs {
		margin-top: -14.2em;

		a {
			height: 1.5em;
			padding-top: 0;
			padding-bottom: 0.1em;
		}
		
		&.incata a {
			padding-bottom: 0.2em;
		}
	}
	
}
