---
layout: default
---

<div id="portfolio">
	{{ content }}
	<div id="projectCat">
		{% for cat in site.data.projectCat %}
			<ul {% if forloop.first == true %}class="firstCat"{% elsif forloop.last == true %}class="lastCat"{% endif %}>
				<li>
					<a href="#" onclick="return filterby('{{ cat.name | replace: ' ', '_' }}');">
					<img src="{{ cat.name | replace: ' ', '_' | prepend: '/assets/images/' | append: '.jpg' | absolute_url }}" alt="Cata image">
					<h5>{{ cat.name }}</h5>
					<p>{{ cat.description }}</p>
					</a>
				</li>
			</ul>
		{% endfor %}
	</div>
	<hr>
	<div id="project-lang">
		<ul>
			<li id="listHead" ><h3>Languages</h3></li>
			<li id="listbutton"><button onclick="return filterby('projectItem');">Reset filter</button></li>
		{% for lang in site.langs %}
			<li style="background-color: #{{ lang.color }};" class="languageTag">
				<a href="#" onclick="return filterby('{{ lang.name }}');">
				{{ lang.name }}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<hr>
	<div id="project-all">
		<ul>
		{% for project in site.projects %}
			<li class="projectItem 
			{% assign projlangs = project.langs | split: ',' %}
			{% for individlang in projlangs %}
				{% assign langCompare = individlang | strip %}
				{% for lang in site.langs %}
					{% if langCompare == lang.name %}
					{{ lang.name }}
					{% endif %}
				{% endfor %}
			{% endfor %}
			{% assign projcata = project.cata | replace: ' ', '_' %}
			{% for cata in site.data.projectCat %}
				{% if project.cata == cata.name %}
					{{ projcata }}
				{% endif %}
			{% endfor %}
			" >
				<a href="{{ project.url | absolute_url }}}">
				<img src="{{ project.name | replace: ' ', '_' | prepend: '/assets/images/' | append: '.png' | absolute_url }}" alt="project image">
				<h3>{{ project.name }}</h3>
				<p>{{ project.description }}</p>
				</a>
				<div class="singleprojlangs">
						<ul>
						{% if project.langs != null %}
							{% assign projlangs = project.langs | split: ',' %}
							{% for individlang in projlangs %}
								{% assign langCompare = individlang | strip %}
								{% for lang in site.langs %}
								{% if langCompare == lang.name %}
									<li style="background-color: #{{ lang.color }};" class="languageTag">
										<a href="#" onclick="return filterby('{{ lang.name }}');">{{ lang.name }}</a>
									</li>
								{% endif %}
								{% endfor %}
							{% endfor %}
						{% endif %}
						</ul>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>