---
layout: default
---

<div id="portfolio">
	<h2>{{ page.name }} projects</h2>
	<div id="project-all">
		<ul>
		{% for project in site.projects %}
			{% if project.cata == page.name %}
				<li class="projectItem" >
					<a href="{{ project.url }}">
					<img src="{{ project.name | replace: ' ', '_' | prepend: '/assets/images/' | append: '.png' }}" alt="project image">
					<h3>{{ project.name }}</h3>
					{{ project.description }}
					</a>
					<div class="singleprojlangs incata">
							<ul>
							{% if project.langs != null %}
								{% assign projlangs = project.langs | split: ',' %}
								{% for individlang in projlangs %}
									{% assign langCompare = individlang | strip %}
									{% for lang in site.langs %}
									{% if langCompare == lang.name %}
										<li style="background-color: #{{ lang.color }};" class="languageTag">
											<a href="{{ lang.url }}">{{ lang.name }}</a>
										</li>
									{% endif %}
									{% endfor %}
								{% endfor %}
							{% endif %}
							</ul>
					</div>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>